@font-face  {
    font-family: "Graphik";
    src: local("Graphik"), url("../fonts/GraphikRegular.otf") format("woff");
    font-weight: normal;
}
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("../fonts/GraphikExtralight.otf") format("woff");
    font-weight: 100;
}
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("../fonts/GraphikLight.otf") format("woff");
    font-weight: 200;
}

* {
    font-size: 100%;
    color: white;
    font-family: Graphik, regular;
}

html, body {
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.background {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(2px);
}

.page {
    margin: 2%;
}

.title {
    width: 100%;
}

.parameters {
    float: right;
}

h1 {
    font-size: 250%;
}

.front {
    display: inline-block;
    padding-right: 2%;
}

.center {
    padding-top: 3%;
}

.lefty {
    width: 25%;
    float: left;
}

.face-pic {
    width: 100%;
}

.lefty p {
    text-align: justify;
}

.left-footer {
    padding-top: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-footer div {
    width: 100%;
    text-align: center;
}

.left-footer-pic {
    width: 30%;
}

.righty {
    float: left;
    margin: 0;
    padding-top: 0;
    padding-left: 10%;
}

.information-table {
    margin-top: -6.7rem;
    border-spacing: 0 6rem;
    display: inline-block;
}

.information-table tr {
    padding-bottom: 2%;
}

.inner-table {
    float: left;
    border-collapse: separate;
    border-spacing: 0 0.1rem;
    padding-right: 4rem;
    padding-top: 0.4rem;
    font-size: large;
}

.inner-table tr {
    border-spacing: 0 0.1rem;
}

.information-label {
    text-align: left;
    vertical-align: top;
    font-size: large;
    padding-right: 5rem;
    line-height: 0;
}

.stuff-table {
    float: left;
    border-collapse: separate;
    border-spacing: 0.5rem 1rem;
    padding-right: 4rem;
    margin-top: -0.6rem;
}

.footer {
    position: relative;
    bottom: 0;
}

