@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("../fonts/GraphikLight.otf") format("woff");
}

body {
    background-color: black;
    color: white;
    font-family: Graphik, regular;
}

.front {
    float: left;
    height: 100%;
    width: 25%;
}

.presentation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}

.left-footer {
    display: flex;
    justify-content: space-around;
}

.left-footer > *{
    width: 10%;
}

.sliders {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15%;
}

.sliders > label {
    flex-basis: 25%;
}

.sliders > input {
    flex-basis: 70%;
}