@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("../fonts/GraphikLight.otf") format("woff");
}

body {
    background-color: black;
    color: white;
    font-family: Graphik, regular;
}

.front {
    height: 100%;
    width: 25%;
}

.presentation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}

.left-footer {
    display: flex;
    justify-content: space-around;
}

.left-footer > *{
    width: 10%;
}
