.profile {
    float: left;
    padding-left: 2%;
    width: 26%;
}

.profilePic {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: auto;
}

.profileP {
    padding-top: 1%;
}

@media (max-width: 740px) {
    .profile {
        width: 100%;
        text-align: center;
    }
    .mobileProfile {
        padding-right: 5%;
    }
    .profilePic {
        width: 100%;
        height: auto;
    }
    .profileP {
        padding-top: 1%;
        text-align: justify;
    }
}