.background {
    background-color: black;
    height: 100%;
    width: 100%;
    position: fixed;
}

* {
    font-size: 100%;
    color: white;
    font-family: Graphik, regular;
    font-weight: normal;
}

.app {
    padding-top: 4%;
}

.hi {
    padding-top: 2.5%;
    padding-left: 2%;
}

@font-face  {
    font-family: "Graphik";
    src: local("Graphik"), url("./fonts/GraphikRegular.otf") format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("./fonts/GraphikExtralight.otf") format('woff');
    font-weight: 100;
}
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url("./fonts/GraphikLight.otf") format('woff');
    font-weight: 200;
}

@media (max-width: 740px) {
    .mobileApp {
        padding-left: 3%;
        padding-right: 3%;
    }
}