.footer {
    align-content: center;
}

.footerTable {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 18%;
    padding-left: 5%;
    padding-right: 5%;
}

.footerColumn {
    width: 1%;
    height: auto;
}

.footerImage {
    width: 30%;
    height: auto;
}

@media (max-width: 740px) {
    .footerImage {
        width: 20%;
        height: auto;
    }
}